.bg-img {
    background: linear-gradient(rgba(20, 20, 20, .9),
            rgba(20, 20, 20, .5)), url('./../assets/images/Rectangle1.png');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    height: 900px;

}